* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 2px 4px 20px -6px rgba(0, 0, 0, 0.5);
    
}

/*boton play*/

.container i {
    font-size: 50px;
    cursor: pointer;
    border-radius: 100%;
    z-index: 1;
    display: inline-block;
    align-self: center;
    position: absolute;
    margin-right: 550px;
    transition-property: all;
    transition-duration: 0.5s;
    color: rgb(0, 0, 0);
}

.container i:hover {
    font-size: 80px;
    color: white;
}

.product-img {
    background-image: url(../assets/img/ps5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 40%;
    transition-property: all;
    transition-duration: 1s;
}

.product-desc {
    flex: 50%;
    padding: 40px;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    letter-spacing: 1.5;
    font-family: 'Verdana';
}


.product-desc h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 40px;
}

.product-desc h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

.product-desc p {
    font-weight: 100;
    line-height: 20px;
    font-size: 13px;
    
}

.product-desc button {
    color: #e0e0e0;
    margin: 25px 0;

}


/*-----MODAL-----*/

.video-container {
    position: fixed;
    top: 0; 
     left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255, 122, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-container .close {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.video-container video {
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.video-container.show {
    pointer-events: all;
    opacity: 1;
}

.video-container.show video {
    transform: scale(1);
}


/*-----------MEDIA-QUERYS-----------*/

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0;
        

    }
    .container {
        width: 300px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        flex-direction: row;
        box-shadow: 2px 4px 20px -6px rgba(0, 0, 0, 0.5);   
        transition: none;
    }
    /*boton play*/
    .container i {
        font-size: 20px;
        cursor: pointer;
        border-radius: 100%;
        z-index: 1;
        display: inline-block;
        align-self: center;
        position: absolute;
        margin-right: 150px;
        margin-top: -400px;
        color: rgb(0, 0, 0);
    }
    .product-img {
        height: 200px;
    }
    .product-desc h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    .video-container .close {
        position: absolute;
        top: 30%;
        right: 25px;
        font-size: 20px;
        cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .container i {
        font-size: 45px;
        cursor: pointer;
        border-radius: 100%;
        z-index: 1;
        display: inline-block;
        align-self: center;
        position: absolute;
        margin-left: 150px;
        color: rgb(0, 0, 0);
    }
   }