h1 {
    font-family: 'Segoe UI';
}
table {
    width: 100%;
    border: 1px solid #ccc;
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table td, table th {
    padding: 10px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #888;
    color: white;
    border: 1px solid white;
    
}

table th {
    text-transform: uppercase;
    font-family: 18px;
    letter-spacing: 1px;
}

/*MEDIA-QUERYS*/

@media screen and (max-width: 480px) {
    table {
        border: 0;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #888;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 16px;
        border-bottom: 1px solid #888;
    }

    /*Último td*/
    table td:last:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 600;
    }

    table thead {
        display: none;
    }
}